# Домашняя работа "Оценка точности модели, переобучение, регуляризация"

Задание:   
Посчитать tpr и fpr в ноутбуке к лекции.  
Убедиться, что график ROC AUC получается таким же, как и штатными средствами.  
Построить график Precision - Recall на этих же данных.

### 1. Посчитать tpr и fpr в ноутбуке к лекции.

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('affair_data.csv')
data.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affair
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,1
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,1
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,1
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,1

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

Формируем набор признаков и целевую переменную:

In [6]:
X = data[data.columns[:-1]]
X.head(2)

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0

In [14]:
Y = data['affair']

In [15]:
model = LogisticRegression()

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)
model.fit(X_train, Y_train)

LogisticRegression()

In [17]:
predictions = model.predict_proba(X_test)

In [29]:
tp = 0 # True positive
fp = 0 # False positive
fn = 0 # False negative
tn = 0 # True negative

predictions = model.predict_proba( X_test )
for predicted_prob, actual in zip( predictions[:, 1], Y_test ):    
    if predicted_prob >= 0.5:
        predicted = 1
    else:
        predicted = 0
    
    if predicted == 1:
        if actual == 1:
            tp += 1
        else:
            fp += 1
    
    else:
        if actual == 1:
            fn += 1
        else:
            tn += 1

### tpr

In [30]:
tpr = tp/(tp+fn)
tpr

0.3723228995057661

### fpr

In [31]:
fpr = fp/(fp+tn)
fpr

0.10053722179585571

### 2. Убедиться, что график ROC AUC получается таким же, как и штатными средствами.