# Домашнее задание "Функции потерь и оптимизация"

Задание  
Преподаватель: Даниил Корбут, Наталья Баданина, Александр Миленькин, Анастасия Успенская  
Прочитать про методы оптимизации для нейронных сетей https://habr.com/post/318970/  
Реализовать самостоятельно логистическую регрессию  
Обучить ее методом градиентного спуска  
Методом nesterov momentum  
Методом rmsprop  

Дополнительное задание *  
В качестве dataset’а взять Iris, оставив 2 класса:  
Iris Versicolor  
Iris Virginica

In [10]:
from sklearn import datasets
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd

### Загрузим датасет iris:

In [11]:
iris = datasets.load_iris()

In [12]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [14]:
data = pd.DataFrame(iris.data)
data.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [16]:
target = pd.DataFrame(iris.target)
#Lets rename the column so that we know that these values refer to the target values
target = target.rename(columns = {0: 'target'})
target.head()
#0 is Iris Setosa
#1 is Iris Versicolour
#2 is Iris Virginica

   target
0       0
1       0
2       0
3       0
4       0

### Удалим данные для класса Iris Setosa:

In [27]:
target = target[target['target'] != 0]
data = data[data.index.isin(target.index)]

In [28]:
data.head(3)

    sepal_length  sepal_width  petal_length  petal_width
50           7.0          3.2           4.7          1.4
51           6.4          3.2           4.5          1.5
52           6.9          3.1           4.9          1.5