# Домашнее задание «Функции и работа с данными»

## Преподаватель: Константин Башевой

**Домашнее задание к лекции.  

Задание 1**  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:  
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  

Результат классификации запишите в столбец class

In [6]:
import pandas as pd
import glob

In [7]:
csv_list  = glob.glob(str('Data/ml-latest-small/'+"*.csv"))
csv_list

['Data/ml-latest-small/links.csv',
 'Data/ml-latest-small/tags.csv',
 'Data/ml-latest-small/ratings.csv',
 'Data/ml-latest-small/keywords.csv',
 'Data/ml-latest-small/movies.csv']

In [ ]:
links = pd.read_csv(csv_list[0])
tags = pd.read_csv(csv_list[1])
ratings = pd.read_csv(csv_list[2])
keywords = pd.read_csv(csv_list[3])
movies = pd.read_csv(csv_list[4])

In [26]:
def rating_class(mark):
    
    if mark <= 2.0:
        return 'low'
    elif mark <= 4.0:
        return 'average'
    elif mark > 4.0:
        return 'high'

In [27]:
ratings['class'] = ratings['rating'].apply(rating_class)

In [29]:
ratings.head(5)

   userId  movieId  rating   timestamp    class
0       1       31     2.5  1260759144  average
1       1     1029     3.0  1260759179  average
2       1     1061     3.0  1260759182  average
3       1     1129     2.0  1260759185      low
4       1     1172     4.0  1260759205  average

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [30]:
keywords.head(1)

  keyword     shows
0      вк  64292779

In [31]:
#Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [38]:
def region_def(query_string):
    
    query_words = query_string.split(' ')
    
    for word in query_words:
        for key in geo_data.keys():
            if word in geo_data[key]:
                return key
    
    return 'Undefined'

In [39]:
keywords['region'] = keywords['keyword'].apply(region_def)

In [42]:
keywords[keywords['region'] != 'Undefined'].head(5)

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад