# Домашнее задание «Библиотека Pandas»

## Преподаватель: Константин Башевой

## Домашнее задание

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [19]:
import pandas as pd
import glob

In [20]:
from zipfile import ZipFile
from io import StringIO

In [21]:
from zipfile import ZipFile
import io
from urllib.request import urlopen

In [22]:
r = urlopen("http://files.grouplens.org/datasets/movielens/ml-25m.zip").read()
file = ZipFile(io.BytesIO(r))

In [23]:
movies_csv = file.open("ml-25m/movies.csv")
movies = pd.read_csv(movies_csv)
ratings_csv = file.open("ml-25m/ratings.csv")
ratings = pd.read_csv(ratings_csv)

In [24]:
RatingsFive = ratings.copy()
RatingsFive = RatingsFive[RatingsFive['rating'] == 5.0]
MaxFiveMovieId = RatingsFive['movieId'].value_counts().keys()[0]
MaxFiveMovieTitle = movies[movies['movieId'] == MaxFiveMovieId]['title'].values[0]

In [25]:
print('Фильм с наибольшим количеством оценок 5.0:', MaxFiveMovieTitle, ', movieId =', MaxFiveMovieId)

Фильм с наибольшим количеством оценок 5.0: Shawshank Redemption, The (1994) , movieId = 318

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [54]:
power = pd.read_csv('Data/pandas_basics/power.csv')

In [55]:
SelectedPower = power.copy()
SelectedPower = power[power['country'].isin(['Lithuania','Latvia','Estonia'])]
SelectedPower = SelectedPower[SelectedPower['category'].isin([4,12,21])]
SelectedPower = SelectedPower[(SelectedPower['year'] >= 2005) & (SelectedPower['year'] <= 2010)]

In [56]:
print('Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года: ', SelectedPower['quantity'].sum())

Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года:  240481.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [57]:
import html5lib

In [58]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
tables = pd.read_html(page_url, encoding='utf-8')

In [59]:
ImportedDataramesList = []

for i in range(len(tables)):
    ImportedDataramesList.append(pd.DataFrame(tables[i]))

In [60]:
len(ImportedDataramesList)

3

In [61]:
ImportedDataramesList[0].head(3)

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 540,"0,9%",Nasdaq,13 320,"-0,6%",Биткойн,61 094,"-0,3%",USD/RUB,735640,"0,0%"
1,РТС,1 520,"1,0%",S&P500,3 943,"0,1%",Нефть,692,"-0,6%",EUR/RUB,875570,"0,0%"
2,Dow,32 779,"0,9%",FTSE100,6 761,"0,4%",Золото,1 727,"0,2%",EUR/USD,11954,"0,0%"

In [62]:
ImportedDataramesList[1].head(10)

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1024086,-,1019706,"0,43 %",04380,13.03.2021
1,NaN,EUR/RUB,875570,-,875570,"0,00 %",00000,13.03.2021
2,NaN,USD/RUB,735640,-,735640,"0,00 %",00000,13.03.2021
3,NaN,JPY/RUB,06750,-,06719,"0,46 %",00031,13.03.2021
4,NaN,CNY/RUB,113027,-,112561,"0,41 %",00467,13.03.2021
5,NaN,CHF/RUB,791371,-,787996,"0,43 %",03375,13.03.2021
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11954,-,11954,"0,00 %",00001,13.03.2021
8,NaN,EUR/GBP,08593,-,08593,"0,00 %",00000,13.03.2021
9,NaN,EUR/JPY,1303150,-,1303150,"0,00 %",00000,13.03.2021

In [63]:
ImportedDataramesList[2].head(5)

,0,1,2,3,4,5,6,7,8,9
0,Имя и фамилия,Город,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Телефон,Email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Спасибо! Ваша заявка отправлена Финансовый кон...,Спасибо! Ваша заявка отправлена Финансовый кон...,ошибка: не удалось создать заявку в журнале за...,ошибка: не удалось создать заявку в журнале за...,ошибка: не POST-запрос,ошибка: не POST-запрос,Просим Вас согласиться на передачу и обработку...,Просим Вас согласиться на передачу и обработку...
3,Я даю согласие на обработку своих персональных...,Я даю согласие на обработку своих персональных...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN