# Задание

Необходимо запустить практическую часть занятия, и посмотреть самому то, о чём говорили на лекции.  
По образу практики, попробуйте создать искусственный датасет с лишними столбцами.  
Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель.  
Ориентируйтесь на то, что было показано во время занятия, и каждый шаг описывайте в markdown.  
Здесь важно видеть ваш ход мысли. Не бойтесь ошибиться или написать не то.
Данное задание не имеет какого-то “правильного” решения.   
Цель - достичь базового понимания проблемы. Чем больше вы фантазируете, тем лучше :) 
Тем не менее, старайтесь представить те ситуации, которые по-вашему мнению могли бы быть в реальных данных.   Успеха!

In [211]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

### Создадим датасет

In [214]:
# Создаём датасет про кошек
n_samples = 1000

breed_id = np.random.choice(20, n_samples) # id породы
operations_through_life = np.random.choice(5, n_samples)+1 # операций за жизнь
number_of_owners =  np.random.choice((1,2,3), n_samples) # количество хозяев за жизнь
had_kittens = np.random.choice(2, n_samples) # были ли котята

cat_age = np.random.choice(range(1,21), n_samples)+3 # сколько кошка прожила

data = pd.DataFrame({'breed_id':breed_id,'operations_through_life': operations_through_life, 'number_of_owners': number_of_owners, 'had_kittens': had_kittens, 'cat_age': cat_age})
data.head(5)

   breed_id  operations_through_life  number_of_owners  had_kittens  cat_age
0        13                        1                 3            0        4
1        15                        2                 1            0       19
2        14                        3                 1            1        9
3        17                        5                 2            0       15
4        14                        2                 2            1        6

### Применим модель линейной регрессии

In [215]:
from sklearn.metrics import mean_absolute_error

X = data[['breed_id', 'operations_through_life', 'number_of_owners','had_kittens']]
y = data['cat_age']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['breed_id', 'operations_through_life', 'number_of_owners','had_kittens']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.01346302 -0.09986858 -0.01620007  0.00724702]
Bias: 13.898645940875502
Error: 4.931064917228037

Видим большую ошибку Error и Bias. Постараемся их уменьшть

1. Что если id породы ухудшает классификацию? Можно попробовать масштабировать этот признак.

In [216]:
data['breed_id'] = (data['breed_id'] - data['breed_id'].min())/(data['breed_id'].max() - data['breed_id'].min())

In [217]:
data.head()

   breed_id  operations_through_life  number_of_owners  had_kittens  cat_age
0  0.684211                        1                 3            0        4
1  0.789474                        2                 1            0       19
2  0.736842                        3                 1            1        9
3  0.894737                        5                 2            0       15
4  0.736842                        2                 2            1        6

In [218]:
X = data[['breed_id', 'operations_through_life', 'number_of_owners','had_kittens']]
y = data['cat_age']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['breed_id', 'operations_through_life', 'number_of_owners','had_kittens']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.25579735 -0.09986858 -0.01620007  0.00724702]
Bias: 13.898645940875502
Error: 4.931064917228037

2. Попробуем заменить operations_through_life на бинарный признак: 0 - не было операций, 1 - были.

In [219]:
data.loc[data["operations_through_life"] > 0, "operations_through_life"] = 1

In [220]:
data.head()

   breed_id  operations_through_life  number_of_owners  had_kittens  cat_age
0  0.684211                        1                 3            0        4
1  0.789474                        1                 1            0       19
2  0.736842                        1                 1            1        9
3  0.894737                        1                 2            0       15
4  0.736842                        1                 2            1        6

In [221]:
X = data[['breed_id', 'operations_through_life', 'number_of_owners','had_kittens']]
y = data['cat_age']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['breed_id', 'operations_through_life', 'number_of_owners','had_kittens']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 2.40990150e-01  6.50521303e-19 -1.90157836e-02  2.51027763e-02]
Bias: 13.595021349231777
Error: 4.932971977304715

3. Добавим признак

In [222]:
data['new_id'] = data['number_of_owners']*data['breed_id']

In [223]:
X = data[['new_id', 'operations_through_life','had_kittens']]
y = data['cat_age']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['new_id', 'operations_through_life','had_kittens']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.16454523 0.         0.02596999]
Bias: 13.514609042660494
Error: 4.9311890810871715

In [224]:
X = data[['new_id']]
y = data['cat_age']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['new_id']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.1649416]
Bias: 13.527619339083556
Error: 4.931419258692611